<mat-toolbar class="mx-auto border-x justify-between p-4 !bg-white shadow-md">
    <a (click)="speech.setPage('/home')" routerLink="home">RPshop</a>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon [matBadge]="itemsQuantity" [matBadgeHidden]="!itemsQuantity"
            matBadgeColor="warn">shopping_cart</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
        <div class="p-3 divide-y divide-solid">
            <div class="pb-3">
                <a (click)="speech.setPage('/cart')" routerLink="cart">
                    <button mat-menu-item>
                        <span class="mr-16">{{ itemsQuantity }} items</span>
                        <span>View Cart</span>
                    </button>
                </a>
            </div>
            <div *ngIf="cart.items.length" class="p-3">
                <div *ngFor="let item of cart.items" class="flex justify-between">
                    <span>{{ item.name }} x {{ item.quantity }}</span>
                    <span class="font-bold">{{ item.price | currency:'EUR' }}</span>
                </div>
            </div>
            <div class="pt-3">
                <button (click)="onCheckout()" mat-menu-item class="!justify-center">
                    <mat-icon>payment</mat-icon>
                    <span>Checkout</span>
                </button>
            </div>
        </div>
    </mat-menu>
</mat-toolbar>